<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
       <title>Rays</title>
        <link href="@Url.Content("~/Content/TravelSite.css")" rel="stylesheet" type="text/css" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div id ="header">
            <div id="headcenter">
                Michael C's Interstate Travel Site
            </div>
            <ul class="top">
                <li><a>Nintendo</a>
                    <ul class="subtop">
                        <li><a href="~/Views/Home/About">Games</a></li>
                    </ul>
                </li>
                <li><a>Sony</a>
                    <ul class="subtop">
                        <li><a href="~/Views/Home/Contact">Games</a></li>
                    </ul>
                </li>
            </ul>
        </div>
                @RenderBody()

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
